<router-outlet></router-outlet>

<footer class="w-full mb-8">
  <div class="flex flex-row justify-around align-center">
    <a routerLink="home" class="border-solid border-r-2 border-black grow flex justify-center items-center">
      <img src="/cd/icons8-cd-50.png" alt="cd icon">
    </a> 
    <a routerLink="search" class="border-solid border-r-2 border-black grow flex justify-center items-center">
      <img src="/icons8-search.svg" alt="search icon">
    </a> 
    <a routerLink="add" class="border-solid border-r-2 border-black grow flex justify-center items-center">
      <img src="/icons8-plus.svg" alt="add icon">
    </a> 
    <a routerLink="recent-activity" class="border-solid border-r-2 border-black grow flex justify-center items-center">
      <img src="/comments/icons8-comments-50.png" alt="comment icon">
    </a> 
    <a routerLink="profile" class="border-solid border-r-2 border-black grow flex justify-center items-center">
      <img src="/avatar/icons8-avatar-50.png" alt="avatar icon">
    </a> 
  </div>
</footer>
