<router-outlet></router-outlet>

<footer class="w-full">
  <div class="flex flex-row justify-around align-center">
    <a routerLink="home" class="block border-solid border-2 border-black grow">Home</a> 
    <a routerLink="search" class="block border-solid border-2 border-black grow">Search</a> 
    <a routerLink="add" class="block border-solid border-2 border-black grow">Add</a> 
    <a routerLink="recent-activity" class="block border-solid border-2 border-black grow">Recent</a> 
    <a routerLink="profile" class="block border-solid border-2 border-black grow">Profile</a> 
  </div>
</footer>
