<h1 class="text-6xl mb-12 font-extrabold">Sign In</h1>
<form class="flex flex-col gap-4 w-[60ch]">
  <label for="email" class="text-2xl">Email</label>
  <input id="email" type="email" class="bg-slate-300 rounded-sm p-2">
  <label for="password" class="text-2xl">Password</label>
  <input id="password" type="password" class="bg-slate-300 rounded-sm p-2">
  <div class="mt-4 flex justify-left gap-4">
    <button class="bg-slate-300 rounded-sm w-[12ch] p-2" type="submit">Sign in</button>
    <button class="bg-blue-300 rounded-sm w-[24ch] p-2 flex items-center" routerLink="../forgot-password">Need to Reset Your Password?</button>
    <button class="bg-sky-300 rounded-sm w-[24ch] p-2 flex justify-center items-center" routerLink="../sign-up">Don't have an account?</button>
  </div>
</form>